@use "../../presets" as *;
@use "../../mixins" as *;

.menu {
    background-color: #f5f5f5;
    height: 100px;
    width: 100%;
    position: absolute;

    &__container {
        @extend %container;
    }
    &__item {
        padding: 27px;
        & a {
            padding: 3px;
            font-size: 16px;
            text-decoration: none;
            color: #000;
            border-bottom: 1px solid $main-color;

            @include md {
                font-size: 18px;
            }
        }

        @include md {
            padding: 10px;
        }
    }
    &__icon {
        display: none;

        @include md {
            display: block;
            position: absolute;
            top: 25px;
            right: 20px;
        }

        & img {
            height: 40px;
            width: 40px;
        }
    }
    &__button {
        width: 33.3%;
        text-align: end;

        & a {
            padding: 10px 25px 10px 25px;
            border: 2px solid $main-color;
            text-decoration: none;
            color: #000;
        }

        @include md {
            display: none;
        }
    }
    &__body {
        height: 100px;
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 33.3%;
        display: flex;
    }
    &__list {
        z-index: 999;
        width: 33.3%;
        display: flex;
        list-style: none;
        justify-content: center;

        @include md {
            position: absolute;
            flex-direction: column;
            align-items: flex-end;
            top: 60px;
            right: 10px;
        }
    }
}

.logo {
    &__text {
        font-weight: bold;
        font-size: 25px;
        padding-left: 15px;
    }
}